.todo-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.todo-list .todo-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    border: solid 2px #d5d54b;
    background-color: #f0eb8b;
}

.todo-list .todo-item.done {
    border: solid 2px #3fad30;
    background-color: #94f0a3;
}

.todo-list .todo-item .large-button {
    margin-left: auto;
}