.large-button {
    background-color: #0b6bf2;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.large-button:hover {
    background-color: #0243eb;
}

.large-button:disabled {
    background-color: #dbe9fd;
    cursor: not-allowed;
}

.cta-buttons {
    display: flex;
    justify-content: flex-end;
}
.cta-buttons .large-button + .large-button {
    margin-left: 5px;
}